.wrapper-table {
  overflow-x: auto;

  table {
    width: 100%;

    th.settings-col {
      min-width: 50px;
      width: 50px;
    }

    th.settings-col-small {
      min-width: 30px;
      width: 30px;
    }

    th.number-col {
      min-width: 40px;
      width: 40px;
    }

    th.settings-col input,
    td.settings-col input {
      float: right;
      line-height: 14px;
    }

    th.settings-col a,
    td.settings-col a {
      float: left;
      line-height: 14px;
    }

    th.grade-col {
      min-width: 150px
    }

    td {
      white-space: nowrap;
    }
  }
}

.label_no_wrap {
  label {
    white-space: nowrap;
  }
}

.flatpickr-day {
  .event {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 150px;
    bottom: 0;
    right: 0;
    display: block;
    background: #d92550;
    font-size: 10px;
    line-height: 14px;
    color: #fff;
  }
}

.closed-sidebar .app-sidebar {
  &.opened.calendar-visible {
    flex: 0 0 357px !important;
    width: 357px !important;
  }

  &:not(.opened) .menu-calendar-holder {
    display: none !important;
  }

  .menu-calendar {
    .menu-calendar-holder {
      display: none;
      padding: 5px 0 10px 0;
    }
  }

  a > i.metismenu-state-icon.fa {
    font-size: 1em;
  }

  .menu-messages {
    .new-messages {
      position: absolute;
      width: 14px;
      height: 14px;
      left: 24px;
      top: 2px;
      border-radius: 150px;
      bottom: 0;
      right: 0;
      display: block;
      background: #d92550;
      font-size: 8px;
      line-height: 14px;
      color: #fff;
      text-indent: initial;
      text-align: center;
    }
  }

  &.opened .menu-messages .new-messages { left: 30px; }
}

.filepond--file-info[data-href] {
  pointer-events: auto;
  cursor: pointer;
}

.errors-placeholder ul {
  list-style: none;
}

.app-page-title .page-title-subheading {
  opacity: 1;
  color: #808080;
}

td.draggable.sortable-drag {
  border: none;
}

form[name="task_form"] .form-control:disabled {
  background-color: #fff;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.grading {
  table {
    min-width: 540px;

    &.disabled {
      pointer-events: none;

      td:not(:first-child) {
        color: #eee;
      }
    }

    th:not(:first-child),
    td:not(:first-child) {
      width: 15%;
      text-align: center;
    }

    label {
      font-weight: 400;
    }

    td {
      position: relative;
    }

    input[type="radio"] {
      opacity: 0;

      &+label {
        position: absolute;
        padding: 0 0.55rem;
        width: calc(100% - 10px);
        left: 5px;
        height: calc(100% - 10px);
        top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      &:checked+label {
        background-color: #3ac47d;
        color: #fff;
        font-weight: 700;
        border-radius: 5px;
      }
    }

    td:nth-child(3) input[type="radio"]:checked+label,
    td:nth-child(4) input[type="radio"]:checked+label {
      background-color: #f7b924;
    }

    td:nth-child(5) input[type="radio"]:checked+label,
    td:nth-child(6) input[type="radio"]:checked+label {
      background-color: #d92550;
    }
  }

  .col-fixed-label {
    width: 110px;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
  }

  .form-control:disabled {
    background-color: #f9f9f9;
  }
}

.messages {
  .not-read-indicator {
    position: absolute;
    width: 4px;
    height: 40px;
    border-radius: 0.3rem;
    left: 0.625rem;
    transition: opacity .2s;
    background-color: #3ac47d;
  }

  .answer {
    .avatar {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      background: lightblue;
      font-size: 20px;
      line-height: 1em;
      color: #fff;
      text-transform: uppercase;
    }

    .answer-wrapper {
      display: flex;
      flex: 1;
      position: relative;
      align-items: normal;

      .answer-left {
        margin-right: 20px;
      }

      .answer-right {
        // 40px - width of avatar and 20px is margin
        width: calc(100% - 40px - 20px);
      }
    }

    .answer-header {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;

      .nickname {
        font-weight: bold;
      }

      .created_at {
        color: gray;
        font-size: 12px;
      }
    }

    &.system {
      .avatar { background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); }
      .nickname { color: #4facfe; }
    }

    &.writer {
      .avatar { background-image: linear-gradient(to top,#a18cd1 0,#fbc2eb 100%); }
      .nickname { color: #794c8a; }
    }

    &.admin, &.editor {
      .avatar { background-image: linear-gradient(to bottom, #00b09b, #96c93d); }
      .nickname { color: #00b09b; }
    }

    &.grader {
      .avatar { background-image: linear-gradient(120deg, #f6d365 0, #fda085 100%); }
      .nickname { color: #eca909; }
    }
  }
}

.collapsed-message {
  max-width: 40vw; // RD-4636
  position: relative;

  div.content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 16px);
    display: inline-block;

    br { display: none }
  }

  i.fa {
    cursor: pointer;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    display: none;
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -14px;
  }

  // Show icon for long text only
  &.is-long i.fa-angle-down { display: flex; }

  // Expanded
  &.expanded {
    div.content {
      overflow: visible;
      white-space: normal;

      br { display: initial }
    }

    i.fa-angle-up { display: flex; }
    i.fa-angle-down { display: none; }
  }
}

form:not(.send-comment) .ck-editor__editable_inline {
  min-height: 200px;
}

.guides-search {
  padding: 0.75rem 0;
  margin: 7px 0 0;
}

.console {
    background-color: #242a38;
    color: #bbbbc8;
    padding: 5px;
    border-radius: 5px;
    max-height: calc(100vh - 230px);
    min-height: 200px;
    white-space: break-spaces;
    &-history {
        @extend .console;
        height: 555px;
    }
}

.waiting-spinner {
    font-size: 30px;
    color: #3f6bd8;
}

@media (max-width: 767px) {
  .guides-search {
    padding: 0;
    margin-top: 0;
  }
}

:root {
  --ck-color-mention-background: rgba(9, 30, 66, 0.08);
  --ck-color-mention-text: rgb(66, 82, 110);
}

span.mention {
  background: rgba(9, 30, 66, 0.08);
  border: 1px solid transparent;
  border-radius: 20px;
  color: rgb(66, 82, 110);
  padding: 0 0.3em 2px 0.23em;
  line-height: 1.714;
  font-size: 1em;
  font-weight: normal;
  word-break: break-word;

  &.active {
    background: rgb(0, 82, 204);
    color: rgb(244, 245, 247);
  }
}

.comment-text {
  p {
    margin-bottom: 0;
  }
  blockquote {
    overflow: hidden;
    margin: 0.5em 0;
    font-style: italic;
    border-left: solid 5px #cccccc;
    padding: 5px 1.5em;
  }
}

.comment-buttons {
  a {
    color: rgb(107, 119, 140);
  }
}

.user_impersonation {
  position: absolute;
  left: 50%;
  transform: translateX(calc(-50% + 40px));
  background-color: #d92550;
  color: #fff;
  padding: 5px;
  border-radius: 0 0 5px 5px;
  z-index: 999;

  a {
    color: #fff;
  }
}

.comment-visibility .select2-wrapper { width: 110px }

.page-title-actions .dropdown li > a { color: inherit }

// Select 2 modifications
select.form-control + .select2, select.form-control-sm + .select2 { display: block }
.select2-container--default .select2-selection--single .select2-selection__arrow b { margin-top: 0 }
.select2-container--default .select2-selection--single { border-color: #ced4da }
.select2-container--default .select2-results__option:empty { height: 33px; }
.input-group .select2-container--default .select2-selection--single { border-radius: 0 4px 4px 0; }

// Select 2 for regular select
.select2-container .select2-selection--single { height: 38px }
.select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 37px; }
.select2-container--default .select2-selection--single .select2-selection__arrow { height: 36px; }

// Select 2 for small select
select.form-control-sm + .select2 .select2-selection--single { height: 31px }
select.form-control-sm + .select2 .select2-selection--single .select2-selection__rendered { line-height: 29px; }
select.form-control-sm + .select2 .select2-selection--single .select2-selection__arrow { height: 28px; }

// Multiselect
select.form-control-sm + .select2.select2-container--default .select2-selection--multiple .select2-selection__choice { margin-top: 1px; }
select.form-control-sm + .select2.select2-container .select2-selection--multiple {
  min-height: 31px;
  display: flex;
  align-items: center;
  border-color: #ced4da;
}

.activity-log-item {
  .param-diff {
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    .param-title {
      margin-right: 8px
    }

    .param-before, .param-after {
      max-width: 50%;

      &:empty:before {
        content: 'None';
        display: block;
        color: rgb(137, 147, 164);
      }
    }

    .param-arrow {
      margin: 0 8px;

      &:before {
        display: block;
        content: "→";
      }
    }
  }
}

a.copy-link i:before { display: inline-block; }
a.copy-link.copying i:before { animation: copied_link 1.0s; }
@keyframes copied_link {
    0% { opacity: 1; }
    100% { opacity: 0; transform: scale(2.5); }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
.rotating4s {
    -webkit-animation: rotating 4s linear infinite;
    -moz-animation: rotating 4s linear infinite;
    -ms-animation: rotating 4s linear infinite;
    -o-animation: rotating 4s linear infinite;
    animation: rotating 4s linear infinite;
}

@keyframes moving {
    0%, 100% {
        -ms-translate: 1px;
        -moz-translate: 1px;
        -webkit-translate: 1px;
        -o-translate: 1px;
        translate: 1px;
    }
    50% {
        -ms-translate: -1px;
        -moz-translate: -1px;
        -webkit-translate: -1px;
        -o-translate: -1px;
        translate: -1px;
    }
}

.moving {
    -webkit-animation: moving 1s linear infinite;
    -moz-animation: moving 1s linear infinite;
    -ms-animation: moving 1s linear infinite;
    -o-animation: moving 1s linear infinite;
    animation: moving 1s linear infinite;
}

.nav-column {
    max-height: 474px;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.modal-body {
    .tabs-animated-shadow {
        .nav-link {
            padding: 0.5rem 0.5rem;
            margin-bottom: 0.75rem;
            &.active, &:hover {
                .waiting-spinner {
                    color: white;
                    z-index: 10;
                }
            }
            .waiting-spinner {
                font-size: 20px;
            }
            .icon-error {
                color: #FF0000FF !important;
            }
            .icon-success {
                color: #08b808 !important;
            }
        }
        .nav-text {
            display: block;
            width: 100%;
            text-align: left;
        }
    }
}
